@import "../../../assets/scss/style.scss";

.banner {
  position: relative;

  .floatText {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    top: 50px;

    span {
      letter-spacing: 0px;
      margin-top: -34px;
    }

    @include for-xs {
      left: 56.5px;

      .textPrimary {
        font-size: 51px;
        line-height: 69px;
      }
      .textSecondary {
        font-size: 51px;
        line-height: 77px;
      }
    }

    @include for-md {
      left: 121.55px;

      .textPrimary {
        font-size: 67px;
        line-height: 91px;
      }
      .textSecondary {
        font-size: 74px;
        line-height: 111px;
      }
    }

    @include for-lg {
      top: 134px;
      left: 261px;

      .textPrimary {
        font-size: 67px;
        line-height: 91px;
      }
      .textSecondary {
        font-size: 74px;
        line-height: 111px;
      }
    }
  }
}
